<label>Name
  <%= f.text_field :name %>
</label>
 
<label>Email Address
  <%= f.text_field :email %>
</label>
 
<% if can? :read, Role %>
	<label>Roles
  	<ul>
  		<%= hidden_field_tag "user[role_ids][]", nil %>
      <% @accessible_roles.each do |role| %>
        <div class="roleRadio">
          <%= radio_button_tag "user[role_ids][]", role.id, @user.role_ids.include?(role.id), id: dom_id(role) %>
          <%= label_tag dom_id(role), role.name %>
        </div>
      <% end %>
  	</ul>
  </label>
<% end %>