<%= provide(:title, "Change Password") %>

<div class="row">
  <div class="large-4 large-offset-4 columns">
    <%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>
      <fieldset>
        <legend>Change password</legend>
        <div class="form-field">
          <label>New Password
          <%= f.password_field :password, autocomplete: "off" %>
          </label>
        </div>
        <div class="form-field">
          <label>Password Confirmation
          <%= f.password_field :password_confirmation %>
          </label>
        </div>
        <div class="form-field">
          <label>Current Password
          <%= f.password_field :current_password %>
          </label>
        </div>
      </fieldset>
      <div class="action_container">
        <%= f.submit "Submit", class: "button tiny" %>
      </div>
    <% end %>
  </div>
</div>