<%= provide(:title, "Users") %>

<div class="row">
  <div class="large-12 columns">
    <%= link_to "Add new", new_user_path, class: "button tiny right" %>
    <table width="100%">
      <thead>
        <th>Name</th>
        <th>Email Address</th>
        <th>Roles</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= "#{user.name}" %></td>
            <td><%= "#{user.email}" %></td>
            <td><%= "#{user.roles.collect { |r| r.name }.join(", ")}" %></td>
            <td>
              <%= link_to content_tag(:i, "", class: "fi-magnifying-glass"), user_path(user.id) %>
              <%= link_to content_tag(:i, "", class: "fi-pencil"), edit_user_path(user.id) %>
              <%= link_to content_tag(:i, "", class: "fi-x"), user, method: :delete, data: { confirm: "Are you sure?" } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>