<%= provide(:title, @user.name) %>

<div class="row">
  <div class="large-6 large-offset-3">
    <table width="100%">
      <tr>
        <td>Name</td>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <td>Email Address</td>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <td>Roles</td>
        <td><%= "#{@user.roles.collect { |r| r.name }.join(", ")}" %></td>
      </tr>
      <% if can?(:see_timestamps, User) %>
        <tr>
          <td>Created At</td>
          <td><%= @user.created_at %></td>
        </tr>
        <tr>
          <td>Last Sign In</td>
          <td><%= @user.last_sign_in_at %></td>
        </tr>
        <tr>
          <td>Sign In Count</td>
          <td><%= @user.sign_in_count %></td>
        </tr>
      <% end %>
    </table>
    <% if can?(:edit, @user) %><%= link_to content_tag(:i, "", class: "fi-pencil action"), edit_user_path(@user.id) %><% end %>
    <% if can?(:delete, @user) %><%= link_to content_tag(:i, "", class: "fi-x action"), @user, method: :delete, data: { confirm: "Are you sure?" } %><% end %>
  </div>
</div>