<%= provide(:title, "Change Your Password") %>

<div class="row">
  <div class="large-4 large-offset-4 columns">

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>

      <%= f.hidden_field :reset_password_token %>
      
      <fieldset>
        <legend>Change password</legend>

        <div class="field">
          <label>Password
            <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
          </label>
        </div>

        <div class="field">
          <label>Password Confirmation
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </label>
        </div>

        <div class="actions">
          <br><%= f.submit "Change Password", class: "button postfix" %>
        </div>
        <%= render "devise/shared/links" %>
      </fieldset>
    <% end %>
  </div>
</div>