<% provide(:title, "Bulk Dig") %>

<div class="row">
  <div class="large-8 large-offset-2 columns">
    <%= form_tag(controller: "domain_box", action: "perform_bulk_dig") do %>
      <fieldset>
        <legend>Query</legend>
        <div class="row">
          <div class="large-8 columns">
            <%= label_tag :query, 'Host names' %>
            <%= text_area_tag(:query, domain_list(@domains, nil), size: "20x20", placeholder: 'example.com') %>
          </div>
          <div class="large-4 columns">
            <%= label_tag :record_types, 'Host records' %>
            <%= check_box_tag(:'record_types[]', :a, false, id: 'a') %><%= label_tag(:a, "A / CNAME") %><br>
            <%= check_box_tag(:'record_types[]', :aaaa, false, id: 'aaaa') %><%= label_tag(:aaaa, "AAAA") %><br>
            <%= check_box_tag(:'record_types[]', :mx, false, id: 'mx') %><%= label_tag(:mx, "MX") %><br>
            <%= check_box_tag(:'record_types[]', :txt, false, id: 'txt') %><%= label_tag(:txt, "TXT") %><br>
            <%= check_box_tag(:'record_types[]', :ns, false, id: 'ns') %><%= label_tag(:ns, "NS") %><br>
            <%= check_box_tag(:'record_types[]', :ptr, false, id: 'ptr') %><%= label_tag(:ptr, "PTR") %><br>
            <hr>
            <%= label_tag :nameservers, 'Nameservers' %>
            <%= radio_button_tag(:ns, :default, checked: true) %><%= label_tag(:ns_default, "Default Nameservers") %><br>
            <%= radio_button_tag(:ns, :google) %><%= label_tag(:ns_google, "Google Public DNS") %><br>
            <%= radio_button_tag(:ns, :open) %><%= label_tag(:ns_open, "OpenDNS") %><br>
          </div>
        </div>
      </fieldset>
      <%= submit_tag "&nbsp;&nbsp;Go&nbsp;&nbsp;".html_safe, class: "button tiny" %>
    <% end %>
  </div>
</div>

<% if @domains %>
  <% headers = @domains.first.extra_attr[:host_records].keys %>
  <div class="row">
    <div clss="large-12 columns">
      <table width="100%">
        <thead>
          <th>Host name</th>
          <% headers.each do |header| %>
            <th><%= header.to_s.upcase %></th>
          <% end %>
        </thead>
        <tbody>
          <% @domains.each do |domain| %>
            <%= content_tag :tr do %>
              <td><%= domain.name %></td>
              <% headers.each do |header| %>
                <td>
                  <% domain.extra_attr[:host_records][header].each do |record| %>
                    <%= record %><br>
                  <% end %>
                </td>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>