<% provide(:title, "Parse Domains") %>

<div class="row">
  <div class="large-8 large-offset-2 columns">
    <%= form_tag(controller: "domain_box", action: "create") do %>
      <fieldset>
        <%= text_area_tag(:query, content(@domains), size: "20x20") %>
        <div class="row">
          <div class="large-4 columns">
            <%= check_box_tag(:remove_subdomains) %><%= label_tag(:remove_subdomains, "Remove Subdomains") %>
          </div>
          <% unless @domains.blank? %>
            <div class="large-2 columns">
              <%= link_to "More Info", '#', data: { :'reveal-id' => "more_info" } %>
              <div id="more_info" class="reveal-modal" data-reveal>
                <%= render partial: "more_info", locals: {tlds: @tlds_count, duplicates: @duplicates_count, domains: @domains} %>
                <a class="close-reveal-modal">&#215;</a>
              </div>
            </div>
          <% end %>
        </div>
      </fieldset>
      <div class="row">
        <div class="large-4 large-offset-4 columns">
          <%= submit_tag "Submit", class: "button postfix" %>
        </div>
      </div>
    <% end %>
  </div>
</div>