<% provide(:title, "Extract Domains") %>

<div class="row">
  <div class="large-8 large-offset-2 columns">
    <%= form_tag(controller: "domain_box", action: "perform_parsing") do %>
      <fieldset>
        <%= label_tag :text, 'Text / Domains' %>
        <%= text_area_tag(:text, domain_list(@domains, params[:sort_by_tld]), size: "20x20") %>
        <%= check_box_tag(:remove_subdomains) %>
        <%= label_tag(:remove_subdomains, "Remove Subdomains") %>
        <br>
        <%= check_box_tag(:sort_by_tld) %>
        <%= label_tag(:sort_by_tld, "Sort by TLD") %>
        <% if @domains.present? %>
          <%= link_to "More Info", '#', data: { :'reveal-id' => "more_info" }, class: 'right' %>
          <div id="more_info" class="reveal-modal" data-reveal>
            <%= render partial: "more_info", locals: { domains: @domains } %>
            <a class="close-reveal-modal">&#215;</a>
          </div>
        <% end %>
      </fieldset>
      <%= submit_tag "Submit", class: "button tiny" %>
    <% end %>
  </div>
</div>