<%= provide(:title, "Sign In") %>

<div class="row">
  <div class="large-4 large-offset-4 columns">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <fieldset>
        <legend>Sign in</legend>
        <div class="field">
          <label>Email Address
            <%= f.email_field :email, autofocus: true %>
          </label>
        </div>

        <div class="field">
          <label>Password
            <%= f.password_field :password, autocomplete: "off" %>
          </label>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <label>
              <%= f.check_box :remember_me %> Remember Me
            </label>
          </div>
        <% end %>

        <div class="actions">
          <br><%= f.submit "Sign In", class: "button postfix" %>
        </div>
        <%= render "devise/shared/links" %>
      </fieldset>
    <% end %>

  </div>
</div>