<% provide(:title, "Bulk curl") %>

<div class="row">
  <div class="large-6 large-offset-3 columns">
    <%= form_tag(controller: :la_tools, action: :perform_bulk_curl) do %>
      <fieldset>
        <%= text_area_tag :urls, params[:urls], rows: 20 %>
        <div class="large-4 large-offset-4 columns">
          <%= submit_tag "Submit", class: "button postfix" %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>

<% if @result %>
  <div class="row">
    <div class="large-12 columns">
      <table width="100%">
        <thead>
          <% @result.first.keys.each do |key| %>
            <th><%= key %></th>
          <% end %>
        </thead>
        <tbody>
          <% @result.each do |line| %>
            <tr>
              <% line.keys.each do |key| %>
                <% if key == "URL" || key == "Last Effective URL" %>
                  <td><%= linkify line[key] %></td>
                <% else %>
                  <td><%= line[key] %></td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>