<% provide(:title, "Canned Replies") %>

<div class="row">
  <div class="large-12 columns">
    <table width="100%">
      <thead>
        <th>User</th>
        <th>Domains</th>
        <th>Canned Reply</th>
      </thead>
      <tbody>
        <% @result.each do |hash| %>
          <tr id=<%= color(hash) %>>
            <td><%= "#{hash[:username]} / #{hash[:email]}" %></td>
            <td>
              <% hash[:domains].each do |domain| %>
                <%= domain %><br>
              <% end %>
              <% unless hash[:vip_domains].empty? %>
                <hr><strong>VIP Domains: </strong><%= hash[:vip_domains].join(", ") %>
              <% end %>
            </td>
            <td>
              <%= link_to "Show", '#', data: { :'reveal-id' => "#{hash[:username]}" } %>
              <div id=<%= hash[:username] %> class="reveal-modal" data-reveal>
                <%= render partial: "canned_reply", locals: { data: hash } %>
                <a class="close-reveal-modal">&#215;</a>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>