<% provide(:title, "DBL/SURBL Check") %>

<div class="row">
  <div class="large-6 large-offset-3 columns">
    <%= form_tag(controller: "la_tools", action: "dbl_surbl_check") do %>
      <fieldset>
        <%= text_area_tag(:query, content(@domains), size: "20x20") %>
      </fieldset>
      <div class="row">
        <div class="large-4 large-offset-4 columns">
          <%= submit_tag "Submit", class: "button postfix" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% unless @result.blank? %>
  <div class="row">
    <div class="large-12 columns">
      <table width="100%">
        <thead>
          <th>Domain Name</th>
          <th>DBL</th>
          <th>SURBL</th>

        </thead>
        <tbody>
          <% @result.each do |hash| %>
            <%= content_tag(:tr, id: color(hash)) do %>
              <td><%= hash[:domain_name] %></td>
              <td><%= hash[:dbl] %></td>
              <td><%= hash[:surbl] %></td>
 
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>