<% provide(:title, "DBL/SURBL Check") %>

<div class="row">
  <div class="large-6 large-offset-3 columns">
    <%= form_tag(controller: "la_tools", action: "dbl_surbl_check") do %>
      <fieldset>
        <%= text_area_tag(:query, domain_list(@domains), size: "20x20") %>
      </fieldset>
      <div class="row">
        <div class="large-4 large-offset-4 columns">
          <%= submit_tag "Submit", class: "button postfix" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if @domains.present? %>
  <div class="row">
    <div class="large-12 columns">
      <table width="100%">
        <thead>
          <th>Domain Name</th>
          <th>DBL</th>
          <th>SURBL</th>
        </thead>
        <tbody>
          <% @domains.each do |domain| %>
            <tr>
              <td><%= domain.name %></td>
              <td><%= domain.extra_attr[:dbl] ? "YES" : "NO" %></td>
              <td><%= domain.extra_attr[:surbl] ? "YES" : "NO" %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>