<% provide(:title, "Spam") %>

<div class="row">
  <div class="large-6 large-offset-3 columns">
    <%= form_tag(controller: :la_tools, action: :parse) do %>
      <fieldset>
        <%= text_area_tag(:text, content(@domains), size: "20x20") %>
        <%= hidden_field_tag :count_occurrences, '1' %>
        <%= hidden_field_tag :remove_subdomains, '1' %>
        <div class="row">
          <div class="large-4 columns">
            <%= submit_tag "Submit", class: "button postfix" %>
          </div>
    <% end %>
          <% unless @domains.blank? %>
            <%= form_tag({ controller: :la_tools, action: :append_csv }, multipart: true) do %>
              <div class="large-4 columns">
                <%= file_field_tag :domains_info %>
                <%= hidden_field_tag(:domains_count, @occurrences_count) %>
              </div>
              <div class="large-4 columns">
                <%= submit_tag "Upload", class: "button postfix" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </fieldset>
  </div>
</div>