<% provide(:title, "Spam") %>

<div class="row">
  <div class="large-column-12">
    <div class="right">
      Export domains info: <%= link_to "CSV", spam_result_path(format: "csv") %>
    </div><br><hr>
    <% if @spam_data_for_owners %>
      <h3>To Domain Owners</h3>
      <table width="100%">
        <thead>
          <tr>
            <th rowspan="2">User</th>
            <th colspan="2">Domains</th>
          </tr>
          <tr>
            <th>Active</th>
            <th>Inactive</th>
          </tr>
        </thead>
        <tbody>
          <% @spam_data_for_owners.each do |user| %>
            <tr id=<%= color user %>>
              <td>
                <%= user[:username] %><br>
                <%= user[:email_address] %><br>
                <%= "<i class=\"fi-crown action\"></i>".html_safe if user[:vip] %>
                <%= "<i class=\"fi-skull action\"></i>".html_safe if user[:spammer] %>
                <%= "<i class=\"fi-shield action\"></i>".html_safe if user[:internal_account] %>
                <div class="right">
                  <% unless user[:blacklisted_domains].empty? %>
                    <%= link_to "<i class=\"fi-page-export action\"></i>".html_safe, '#', data: { :'reveal-id' => "modal_#{user[:username]}" } %>
                    <div id=<%= "modal_#{user[:username]}" %> class="reveal-modal" data-reveal>
                      <%= render partial: "canned_reply", locals: { data: user } %>
                      <a class="close-reveal-modal">&#215;</a>
                    </div>
                  <% end %>
                </div>
              </td>
              <td>
                <% unless user[:active].empty? %>
                  <% [:blacklisted_domains, :not_blacklisted_domains].each do |title| %>
                    <% unless user[title].empty? %>
                      <h6><%= title == :blacklisted_domains ? "<i class=\"fi-alert inline\"></i>".html_safe : "<i class=\"fi-info inline\"></i>".html_safe %><%= title.to_s.titleize %>:</h6>
                      <% user[title].each do |domain| %>
                        <%= domain %><br>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
              <td>
                <% unless user[:inactive].empty? %>
                  <% [:suspended_by_registry, :suspended_by_enom, :suspended_for_whois_verification, :suspended_by_namecheap, :expired].each do |title| %>
                    <% unless user[title].empty? %>
                      <h6><%= title.to_s.titleize %>:</h6>
                      <% user[title].each do |domain| %>
                        <%= domain %><br>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>    
  </div>
</div>