<% provide(:title, "Spam") %>

<div class="row">
  <div class="large-column-12">
    <div class="right">
      Export domains info: <%= link_to "CSV", spam_result_path(format: "csv") %>
    </div><br><hr>
    <% if @spam_data_for_owners %>
      <h3>To Domain Owners</h3>
      <table width="100%" class="borders">
        <thead>
          <tr>
            <th rowspan="2">User</th>
            <th colspan="2">Domains</th>
          </tr>
          <tr>
            <th>Active</th>
            <th>Inactive</th>
          </tr>
        </thead>
        <tbody>
          <% @spam_data_for_owners.each do |user| %>
            <tr id=<%= color user %>>
              <td>
                <i class="fa fa-user fa-fw inline"></i><%= user[:username] %><br>
                <i class="fa fa-at fa-fw inline"></i><%= user[:email_address] %><br>
                <%= "<span data-tooltip aria-haspopup=\"true\" class=\"has-tip\" title=\"Blacklisted account\">
                  <i class=\"fa fa-trash-o action\"></i></span>".html_safe if user[:spammer] %>
                <%= "<span data-tooltip aria-haspopup=\"true\" class=\"has-tip\" title=\"VIP account\">
                  <i class=\"fi-crown action\"></i></span>".html_safe if user[:has_vip_domains] %>
                <%= "<span data-tooltip aria-haspopup=\"true\" class=\"has-tip\" title=\"Internal account\">
                  <i class=\"fa fa-home action\"></i></span>".html_safe if user[:internal_account] %>
                <div class="right">
                  <% unless user[:blacklisted_domains].empty? %>
                    <%= link_to "<span data-tooltip aria-haspopup=\"true\" class=\"has-tip\" title=\"Generate a canned reply\">
                      <i class=\"fa fa-send-o action\"></i></span>".html_safe, '#', data: { :'reveal-id' => "modal_#{user[:username]}" } %>
                    <div id=<%= "modal_#{user[:username]}" %> class="reveal-modal" data-reveal>
                      <%= render partial: "canned_reply", locals: { data: user } %>
                      <a class="close-reveal-modal">&#215;</a>
                    </div>
                  <% end %>
                </div>
              </td>
              <td>
                <% unless user[:active].empty? %>
                  <% cell = [] %>
                  <% [:blacklisted_domains, :not_blacklisted_domains].each do |title| %>
                    <% unless user[title].empty? %>
                      <% domains = "" %>
                      <% domains << "<h6>#{get_icon(title) + title.to_s.titleize}</h6>" %>
                      <% user[title].each do |domain| %>
                        <% domains << "#{domain}<br>" %>
                      <% end %>
                      <% cell << domains %>
                    <% end %>
                  <% end %>
                  <%= cell.join("<hr>").html_safe %>
                <% end %>
              </td>
              <td>
                <% unless user[:inactive].empty? %>
                  <% cell = [] %>
                  <% [:suspended_by_registry, :suspended_by_enom, :suspended_for_whois_verification, :suspended_by_namecheap, :expired].each do |title| %>
                    <% unless user[title].empty? %>
                      <% domains = "" %>
                      <% domains << "<h6>#{get_icon(title) + title.to_s.titleize}</h6>" %>
                      <% user[title].each do |domain| %>
                        <% domains << "#{domain}<br>" %>
                      <% end %>
                      <% cell << domains %>
                    <% end %>
                  <% end %>
                  <%= cell.join("<hr>").html_safe %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>    
  </div>
</div>