<% provide(:title, "Monthly Reports") %>

<div class="row">
  <div class="large-12 columns">
    <%= form_tag({ controller: :manager_tools, action: :generate_monthly_reports }, multipart: true) do %>
    
      <% if @excel_hash %>
      
        <%= hidden_field_tag :excel_hash, @excel_hash %>
        <div class="row">
          <div class="large-4 large-offset-4 columns">
            <fieldset>
              <div class="row">
                <div class="small-5 columns">
                  <%= label_tag :sheet, "Sheet", class: "right inline" %>
                </div>
                <div class="small-7 columns">
                  <%= select_tag :sheet, options_for_select(@sheets, @sheets.last) %>
                </div>
              </div>
              <div class="row">
                <div class="small-5 columns">
                  <%= label_tag :date_month, "Month", class: "right inline" %>
                </div>
                <div class="small-7 columns">
                  <%= select_month @date %>
                </div>
              </div>
              <div class="row">
                <div class="small-5 columns">
                  <%= label_tag :date_year, "Year", class: "right inline" %>
                </div>
                <div class="small-7 columns">
                  <%= select_year @date %>
                </div>
              </div>
              <div class="row">
                <div class="small-5 columns">
                  <%= label_tag :norm, "Working Shifts Norm", class: "right inline" %>
                </div>
                <div class="small-7 columns">
                  <%= number_field_tag :norm %>
                </div>
              </div>
              <div class="row">
                <div class="small-5 columns">
                  <%= label_tag :cc, "CC", class: "right inline" %>
                </div>
                <div class="small-7 columns">
                  <%= text_field_tag :cc, "", placeholder: "one@nc.com, two@nc.com" %>
                </div>
              </div>
              <div class="row">
                <div class="small-5 columns">
                  <%= label_tag :bcc, "BCC", class: "right inline" %>
                </div>
                <div class="small-7 columns">
                  <%= text_field_tag :bcc, "ncgm@namecheap.com", placeholder: "one@nc.com, two@nc.com" %>
                </div>
              </div>
              <div class="row">
                <div class="small-5 columns">
                  <%= label_tag :signature, "Signature", class: "right inline" %>
                </div>
                <div class="small-7 columns">
                  <%= text_area_tag :signature, "Regards,\n#{current_user.name}", rows: 3 %>
                </div>
              </div>
            </fieldset>
            <%= submit_tag "Submit", class: "button tiny" %>
          </div>
        </div>
        
      <% else %>
      
        <fieldset>
          <div class="row">
            <div class="large-3 columns">
              <label>Excel File
                <%= file_field_tag :file %>
              </label>
            </div>
          </div>
        </fieldset>
        <%= submit_tag "Upload", class: "button tiny" %>
        
      <% end %>
      
    <% end %>
    </div>
  </div>
  
<% if @employees %>
  <div class="row">
    <div class="large-12 columns">
      <% @employees.each do |employee| %>
      <div class="employee-container">
        <div class="row">
          <div class="large-8 large-offset-4 columns">
            <h3><%= employee["Name"] %></h3>
          </div>
        </div>
        <% keys = employee.keys - ["Name"] %>
        <div class="row">
          <div class="large-4 columns">
            <table width="100%">
              <% keys.each do |key| %>
                <tr>
                  <th width="40%" style="text-align: right;"><%= key %></th>
                  <td ><%= employee[key] %></td>
                </tr>
              <% end %>
            </table>
          </div>
          <div class="large-8 columns">
            <%= text_area_tag (employee["Name"] + "Canned").gsub(" ", "_").underscore.to_sym, generate_canned(employee, @month.split.first, @norm, params[:signature]), rows: 20 %>
            <a class="button tiny" onclick="sendCanned(this);">Send email</a>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div id="month" hidden><%= @month %></div>
  <div id="cc" hidden><%= params[:cc] %></div>
  <div id="bcc" hidden><%= params[:bcc] %></div>
<% end %>