<% provide(:title, "Monthly Reports") %>

<div class="row">
  <div class="large-12 columns">
    <%= form_tag({ controller: :manager_tools, action: :generate_monthly_reports }, multipart: true) do %>
    <fieldset>
        <div class="row">
          <div class="large-3 columns">
            <label>Working Shifts Norm
              <%= number_field_tag :norm, @norm %>
            </lable>
          </div>
        </div>
        <div class="row">
          <div class="large-3 columns">
            <label>Excel File
              <%= file_field_tag :sheet %>
            </label>
          </div>
        </div>
      </fieldset>
      <%= submit_tag "Upload", class: "button tiny" %>
    <% end %>
    </div>
  </div>
  
<% if @employees %>
  <div class="row">
    <div class="large-12 columns">
      <% @employees.each do |employee| %>
      <div class="employee-container">
        <div class="row">
          <div class="large-8 large-offset-4 columns">
            <h3><%= employee["Name"] %></h3>
          </div>
        </div>
        <% keys = employee.keys - ["Name"] %>
        <div class="row">
          <div class="large-4 columns">
            <table width="100%">
              <% keys.each do |key| %>
                <tr>
                  <th width="40%" style="text-align: right;"><%= key %></th>
                  <td ><%= employee[key] %></td>
                </tr>
              <% end %>
            </table>
          </div>
          <div class="large-8 columns">
            <%= text_area_tag (employee["Name"] + "Canned").gsub(" ", "_").underscore.to_sym, generate_canned(employee, @month, @norm), rows: 20 %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
<% end %>