<% provide(:title, "Spammer Blacklist") %>

<div class="row">
  <div class="large-12 columns">
    
    <%= form_tag('/spammers', method: :get) do %>
      <div class="row">
        <div class="large-2 columns">
          <div class="row collapse">
            <div class="large-6 columns">
              <span class="prefix">Per Page</span>
            </div>
            <div class="large-6 columns">
              <%= select_tag :per_page, options_for_select([25, 50, 75, 100], params[:per_page]), onchange: "this.form.submit();" %>
            </div>
          </div>
        </div>
        <div class="large-2 columns">
          <div class="row collapse">
            <div class="large-5 columns">
              <span class="prefix">Search by</span>
            </div>
            <div class="large-7 columns">
              <%= select_tag :search_by, options_for_select(["username", "comment"], params[:search_by]), onchange: "this.form.submit();" %>
            </div>
          </div>
        </div>
        <div class="large-3 columns">
          <div class="row collapse">
            <div class="large-9 columns">
              <%= text_field_tag :search, params[:search], placeholder: "Search", onchange: "this.form.submit();" %>
            </div>
            <div class="large-3 columns">
              <%= submit_tag "Go", name: nil, class: "button postfix tiny" %>
            </div>
          </div>
        </div>
        <div class="large-4 columns">
          <%= link_to "Add new", new_spammer_path, class: "button tiny right" if can? :create, Spammer %>
        </div>
      </div>
    <% end %>
    
    <table width="100%">
      <thead>
        <th>Username</th>
        <th>Comments</th>
        <% if can?(:delete, Spammer) %><th>Actions</th><% end %>
      </thead>
      <tbody>
        <% @spammers.each do |spammer| %>
          <tr>
            <td><%= spammer.username %></td>
            <td><%= spammer.comment %></td>
            <% if can?(:delete, spammer) %>
              <td><%= link_to content_tag(:i, "", class: "fi-x action"), spammer, method: :delete, data: { confirm: "Are you sure?" } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <span class="pageInfo"><%= page_entries_info @spammers %></span>
    <%= will_paginate @spammers, renderer: FoundationPagination::Rails, class: "right" %>
  </div>
</div>