<nav class="top-bar" data-topbar role="navigation">
  
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "R2-D2", root_path %></h1>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li class="divider"></li>
      <li class="has-dropdown">
        <%= link_to "Domains & General", whois_path %>
        <ul class="dropdown">
          <%= content_tag(:li, (link_to "Whois", whois_path)) %>
          <%= content_tag(:li, (link_to "Maintenance Alerts", alerts_path)) %>
          <%= content_tag(:li, (link_to "Extract Domains", parse_domains_path)) %>
          <%= content_tag(:li, (link_to "Compare Lists", compare_path)) %>
          <%= content_tag(:li, (link_to "Bulk Dig", bulk_dig_path)) %>
        </ul>
      </li>
      <li class="divider"></li>
      <% if can?(:manage, :la_tool) %>
        <li class="has-dropdown">
          <%= link_to "Legal & Abuse", spam_path %>
          <ul class="dropdown">
            <%= content_tag(:li, (link_to "DBL/SURBL Check", dbl_surbl_path)) %>
            <%= content_tag(:li, (link_to "Bulk curl", bulk_curl_path)) %>
            <%= content_tag(:li, (link_to "VIP Domains", vip_domains_path)) %>
            <%= content_tag(:li, (link_to "Spammer Blacklist", spammers_path)) %>
            <%= content_tag(:li, (link_to "Internal Accounts", internal_accounts_path)) %>
            <li class="divider"></li>
            <%= content_tag(:li, (link_to "Spam", spam_path)) %>
            <%= content_tag(:li, (link_to "Parsed Data", spam_result_path)) %>
  				</ul>
        </li>
        <li class="divider"></li>
      <% end %>
      <% if can?(:manage, :manager_tool) %>
        <li class="has-dropdown">
          <%= link_to "Management" %>
          <ul class="dropdown">
            <% if can?(:manage, User) %>
              <li><%= link_to "User Management", users_path %></li>
            <% end %>
            <%= content_tag(:li, (link_to "Monthly Reports", monthly_reports_path)) %>
          </ul>
        </li>
        <li class="divider"></li>
      <% end %>
    </ul>
  </section>

  <% if user_signed_in? %>
    <section class="top-bar-section">
      <ul class="right">
        <li class="divider"></li>
        <li class="has-dropdown">
          <a><%= current_user.name %></a>
          <ul class="dropdown">
            <li><%= link_to("Change password", change_password_path) %></li>
            <li><%= link_to("Sign out", destroy_user_session_path, method: :delete) %></li>
          </ul>
        </li>
      </ul>
    </section>
  <% else %>
    <section class="top-bar-section">
      <ul class="right">
        <li class="has-form">
          <%= link_to("Sign in", new_user_session_path, class: "button") %>
        </li>
      </ul>
    </section>
  <% end %>

</nav>

<header>
  <%= image_tag "logo.png", class: "logo" %>
  <br>
  <h1><%= yield(:title) %></h1>
</header>