<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='x-ua-compatible' content='ie=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>R2-D2</title>
    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag    'application_new' %>
    <%= javascript_include_tag 'application_new' %>
    <%= favicon_link_tag       'favicon.ico' %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="https://track.namecheap.net/s/42feaa3d37b412bfc0ecc44d8499fcc7-T/en_US-1029ha/64026/28/1.4.27/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=086613e9"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
